body{
    background: linear-gradient(90deg, #292728, #a3053a );
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.center
{
    position: absolute;
    top: 230%;
    left: 50%;
    padding-bottom: 20px;
    padding-right: 30px ;
    transform: translate(-50%, -50%);
    width: 550px;
    background: white;
    border-radius: 20px;
    opacity: 95%;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.185);
}
.center h1{
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;
    text-shadow: 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.281);
}
.clearfix {
    overflow: auto;
    text-align: center;
}
  
.img2 {
    float: left;
    height: 80px;
    width: 80px;
    margin-top: 10px;
    margin-left: 0px;
    margin-bottom: 20px;
}
.menu li
{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}
.menu li a 
{  
  text-decoration: none;
  color: #a3053a;
  font-size: 25px;
  line-height: 100px ;
  text-shadow: 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.281);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  transition: 0.5s;
}

.menu li a:hover{
  color: #003355;
  transition: 0.5s;
}
.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color:  #a3053a;
  color: white;
}
.texto
{
  text-decoration: none;
  color: #a3053a;
  font-size: 25px;
  line-height: 100px ;
  text-shadow: 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.281);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  transition: 0.5s;
  text-transform: uppercase;
}
.caixa-texto
{
    position: absolute;
    top: 108%;
    left: 50%;
    padding-bottom: 30px;
    transform: translate(-50%, -50%);
    width: 900px;
    background: white;
    border-radius: 20px;
    opacity: 95%;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.185);
    text-align: center;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
}
h2
{
  color: #a3053a;
}